* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(#9fc5e8, 200px, #ffffff);
  min-height: calc(100vh - 20px);
}

.container {
  margin: auto;
  height: auto;
  width: 770px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.weather-now {
  height: 330px;
  width: 200px;
  background: linear-gradient(to top, #439edf, 40%, #6bc2ff);
  border-radius: 20px;
  text-align: center;
  color: #ffffff;
  position: sticky;
  top: 20px;
}

.weather-city {
  height: 30px;
  padding-top: 20px;
  font-size: 26px;
}

.weather-now-icon {
  height: 130px;
}

.weather-img {
  height: 150px;
}

.weather-now-temp {
  font-size: 40px;
  font-weight: 600;
}

.weather-now-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box-text {
  margin-bottom: 0;
}

.box-details {
  margin-top: 0;
  font-size: 20px;
  font-weight: 600;
}

.weather-days {
  height: auto;
  width: 550px;
}

.weather-day {
  width: 550px;
  height: 100px;
  margin-bottom: 10px;
  background: linear-gradient(to top, #d5d6d6, 40%, #f1f2f3);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.day-time {
  height: 30px;
  width: 100px;
  font-size: 18px;
  cursor: default;
}

.day-time .day-name {
  margin: 25px 0 0 0;
}

.day-time .day-hours {
  margin: 0;
}

.day-icon {
  margin: 0;
}

.day-temp,
.day-hum {
  font-size: 20px;
  font-weight: 600;
  height: 30px;
  width: 72px;
  margin-top: 35px;
  cursor: default;
}

.day-hum {
  color: #3776a2;
}

/* Header */
header {
  max-width: 770px;
  margin: auto;
}

.header {
  width: 100%;
  height: 60px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  width: calc(100% - 280px);
}

.title a {
  text-decoration: none;
  color: #000e18;
}

.title h1 {
  margin: 0;
  text-rendering: optimizeLegibility;
}

.select-city {
  height: 50px;
  width: 280px;
  display: flex;
  justify-content: end;
  font-size: 20px;
}

#city-name {
  font-family: "Poppins", sans-serif;
  height: 40px;
  width: 200px;
  border-radius: 20px 0 0 20px;
  background: linear-gradient(to top, #d5d6d6, 40%, #f1f2f3);
  border: none;
  text-align: center;
  outline: none;
}

#select-name {
  font-family: "Poppins", sans-serif;
  height: 40px;
  width: 80px;
  background: linear-gradient(to top, #439edf, 40%, #6bc2ff);
  border: none;
  border-radius: 0 20px 20px 0;
  text-align: center;
  color: #ffffff;
}

#select-name:hover {
  background: #439edf;
  cursor: pointer;
}

/* Улюблені міста */
.favorite-cities {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.favorite-city {
  height: 40px;
  width: fit-content;
  padding: 0 20px;
  border-radius: 20px;
  background: linear-gradient(to top, #d5d6d6, 40%, #f1f2f3);
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.favorite-city:hover {
  background: linear-gradient(to top, #d5d6d6, 40%, #d5d6d6);
}

.selected-city {
  color: #ffffff;
  background: linear-gradient(to top, #439edf, 40%, #6bc2ff);
}

.selected-city:hover {
  background: linear-gradient(to top, #439edf, 40%, #6bc2ff);
}

/* Error message */
.error-message {
  width: 100%;
  padding: 20px;
  height: auto;
  background: linear-gradient(to top, #d5d6d6, 40%, #f1f2f3);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.hide {
  display: none;
}

/* Thermometer */
.thermometer {
  position: fixed;
  top: calc(50% - 200px);
  height: 415px;
  width: 120px;
  margin: auto;
  padding: 20px 16px;
  background: linear-gradient(to top, #d5d6d6, 40%, #f1f2f3);
  border-radius: 0 20px 20px 0;
}

.thermo-scale-box {
  height: 343px;
  width: 88px;
  display: flex;
  justify-content: center;
}

.thermo-scale-left-side,
.thermo-scale-right-side {
  height: 100%;
  width: 38px;
  padding: 14px 0;
}

.thermo-scale-left-container,
.thermo-scale-right-container {
  height: 315px;
  width: 100%;
}

.thermo-scale-section {
  height: 30px;
  width: 100%;
  display: flex;
}

.thermo-scale-section:first-child {
  height: 15px;
}

.thermo-scale-section-degrees {
  height: 100%;
  width: 30%;
}

.thermo-scale-section-number,
.thermo-scale-section-number-left {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: end;
}

.thermo-scale-section-number {
  justify-content: right;
}

.thermo-scale-half-section {
  height: 15px;
  width: 100%;
}

.thermo-scale-one-degree {
  height: 3px;
  width: 50%;
}

.thermo-scale-section {
  border-bottom: 1px solid #63646e;
}

.thermo-scale-half-section:last-child {
  border-top: 1px solid #63646e;
}

.thermo-number {
  font-family: "Oswald", sans-serif;
  color: #3b3c42;
}

.thermo-scale-tube {
  height: calc(100% + 12px);
  width: 12px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: linear-gradient(to right, #c6c8dc, #e2e3ed, #c6c8dc);
  border-radius: 6px 6px 0 0;
}

.thermo-tube-main {
  height: 0px;
  width: 12px;
  background: linear-gradient(to right, #cc0000, #e06666, #cc0000);
}

.thermo-tube-footer {
  height: 26px;
  width: 12px;
  background: linear-gradient(to right, #cc0000, #e06666, #cc0000);
}

.thermo-bottom-box {
  height: 32px;
  width: 88px;
  display: flex;
  justify-content: center;
}

.thermo-bottom-circle {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: radial-gradient(#e06666, 50%, #cc0000);
}
